<div class="container-fluid">
	<div class="row">
		<div id="map-container"></div>
	</div>
</div><br>
<% if current_skater %>
	<a class="add-spot-here spots-action-elements" data-toggle="modal" data-target="#myModal5">ADD SPOT HERE<br><span class="glyphicon-correction glyphicon glyphicon-map-marker"></span></a>
<% end %>
<a class="nearest-spot spots-action-elements">NEAREST SPOT<br><span class="glyphicon-correction glyphicon glyphicon-resize-small"></span></a>
<a class="random-spot spots-action-elements">RANDOM SPOT<br><span class="glyphicon-correction glyphicon glyphicon-random"></span></a>