<div class="container-fluid">
	<div class="row">
		<div id="map-container"></div>
	</div>
</div>
<br>
<button class="nearest-spot btn btn-primary">Nearest spot</button>
<button class="random-spot btn btn-primary">Random spot</button>
<button class="btn btn-primary"><!--<a class="add-spot ">-->Add spot here<!--</a>--></button>