<div class="container-fluid">
	<div class="row">
		<div id="map-container"></div>
	</div>
</div>
<br>
<button class="add-spot-here btn btn-primary" data-toggle="modal" data-target="#myModal5">ADD SPOT HERE</button>
<button class="nearest-spot btn btn-primary">NEAREST SPOT</button>
<button class="random-spot btn btn-primary">RANDOM SPOT</button>