<div class="container-fluid">
	<div class="row">
		<div id="map-container"></div>
	</div>
</div>
<br>
<button class="nearest-spot">Nearest spot</button>
<button class="random-spot">Random spot</button>

<%= @client %>