<div class="container-fluid">
	<div class="row">
		<div id="map-container"></div>
	</div>
</div>
<br>
<button class="nearest-spot btn btn-primary">Nearest spot</button>
<button class="random-spot btn btn-primary">Random spot</button>
<button class="add-spot-here btn btn-primary">Add spot here</button>