/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


@font-face {
    font-family: SkateFont;
    src: url('/SkateFont.ttf');
    font-weight: 400;
}

body {
	margin: 0;
	padding: 0;
	text-align: center;
	border-top: 4px solid #337ab7;
}

.logo {
	font-family: SkateFont;
	font-size: 40px;
}

.navigation-elements {
	font-weight: bold;
	color: white;
	background: #337ab7;
	border: 3px solid #337ab7;
	border-radius: 3px;
	padding: 10px 50px;		
	cursor: pointer;
}

.navigation-elements:hover {
	color: #337ab7;
	background: white;
	transition: background-color 0.25s ease;
	border: 3px solid #337ab7;	
}

.spots-action-elements {
	font-weight: bold;
	color: #5cb85c;
	background: white;
	border: 3px solid #5cb85c;
	border-radius: 3px;
	padding: 10px 50px;		
	cursor:pointer;		
}

.spots-action-elements:hover {
	color: white;
	background: #5cb85c;
	transition: background-color 0.25s ease;
	border: 3px solid #5cb85c;
}

.action-elements {
	font-weight: bold;
	color: #337ab7;
	background: white;
	border: 3px solid #337ab7;
	border-radius: 3px;
	display: inline-block;	
	padding: 5px 20px;
	cursor: pointer;	
}

.action-elements:hover {
	color: white;
	background: #337ab7;	
	transition: background-color 0.25s ease;
	border: 3px solid #337ab7;	
}

#map-container {
	height: 550px;
	margin: 0 5%;
	border-radius: 3px;
}

.marker-spot-photo {		
	border-radius: 3px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.spot-info {
	font-weight: bold;
	color: #337ab7;
	padding: .2em .6em .3em;
}

.spot-photo {
	max-width: 100%;
	border-radius: 3px;
}

.hearts {
	cursor: pointer;
}

.challenges-completed {
	float: left;
}

.challenge-challenge,
.footer-correction {
	text-align: center;
}

a, a:hover, a:focus, a:visited {
	text-decoration: none;
}

.display-inline-block {
	display: inline-block;
}

.glyphicon-correction {
	position: inherit;
}

.input-correction {
	display: inline-block;
	max-width: 200px;
}

.default-font-size {
	font-size: 100%;
}

.default-font-family {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hidden-elements {
	visibility: hidden;
}

.tab-pane {
	padding: 30px;
}

@media all and (max-width: 768px) {
	.logo {
		font-size: 24px;
	}

	.marker-spot-photo {
		width: 150px;
	}

	.trick {
		margin: 0 5%;
	}

	.trick-video {
		width: 250px;
		height: 300px;
		border: 0;
	}

	.tab-pane {
		width: 400px;
	}

	.hearts {
		width: 40px;
	}

	.challenges-completed {
		min-width: 50px;
	}
}

@media all and (min-width: 768px) {
	.marker-spot-photo {
		width: 250px;
		height: 150px;
	}

	.trick {
		display: inline-block;
	}

	.trick-video {
		width: 600px;
		height: 600px;
		border: 0;
	}

	.challenges-completed {
		min-width: 100px;
	}
}

@media all and (max-width: 992px) {
	.navigation-elements,
	.spots-action-elements {
		display: block;
		margin: 5px 10%;
	}
}

@media all and (min-width: 992px) {
	.navigation-elements,
	.spots-action-elements {
		display: inline-block;
		margin-right: 25px;	
	}
}
