// Place all the behaviors and hooks related to the matching controller here.
// All this logic will automatically be available in application.js.

$(document).ready(function() {
	$.ajax({
		type: 'GET',
		dataType: 'json',
		url: '/spots',
		success: function(response) { initialize(response); },
		error: function() { console.log('KO') }
	});
	
	var map;
	var spots = [];
	var positions = [];
	var markers = [];
	var yourPosition = {};

	function initialize(response) {
		var mapContainer = document.getElementById('map-container');
		
		for(var i = 0; i < response.length; i++) {
			spots.push(response[i]);				
		}

		var mapOptions = {
	    	zoom: 11,
	    	mapTypeId: google.maps.MapTypeId.ROAD
	  	};

	  	map = new google.maps.Map(mapContainer, mapOptions);

	  	if(navigator.geolocation) {
		    navigator.geolocation.getCurrentPosition(function(yourPosit) {
		    	for(var i = 0; i < spots.length; i++) {
		    		var position = new google.maps.LatLng(spots[i].latitude, spots[i].longitude);
		    		positions.push(position);

		    		var marker = new google.maps.Marker({
		    			map: map,		    			
		    			position:position,
		    			icon: '/skateboard.png',
		    			title: (i + 1).toString()
		    		});

		    		markers.push(marker);

		    		addClickEventForEachMarker(marker);
		    	}

		    	yourPosition = new google.maps.LatLng(yourPosit.coords.latitude, yourPosit.coords.longitude);

		    	var yourPositionMarker = new google.maps.Marker({
		    			map: map,
		    			position: yourPosition,
		    			draggable: true,
		    			icon: '/bartSkater.gif',
		    			title: 'You are here!'
		    	});

		    	google.maps.event.addDomListener(yourPositionMarker, 'dragend', function() {
		    		var latitude = yourPositionMarker.getPosition().lat();
		    		var longitude = yourPositionMarker.getPosition().lng();;

			    	var infoWindowYourPositionContent = '<a class="add-spot-button" href=/spots/new?latitude=' + latitude + '&longitude=' + longitude + '>Add spot here</a>';

			    	var infoWindowYourPosition = new google.maps.InfoWindow({
			    		content: infoWindowYourPositionContent
			    	});

		    		infoWindowYourPosition.open(map, yourPositionMarker);
		    	});

		    	function addClickEventForEachMarker(marker) {
		    		google.maps.event.addDomListener(marker, 'click', function() {
		    			var spotId = marker.getTitle();

						var infoWindowSpotsContent = '<a href=/spots/' + spotId + '>Go to this spot</a>';

				    	var infoWindowSpots = new google.maps.InfoWindow({
				    		content: infoWindowSpotsContent
				    	});

				    	infoWindowSpots.open(map, marker);
					});
		    	}		    	
				
				map.setCenter(yourPosition);
		    }, function() {
		    	handleNoGeolocation(true);
		    });
	    } else {
	    	handleNoGeolocation(false);
	  	}
	}

	function handleNoGeolocation(errorFlag) {
	    if (errorFlag) {
	    	var content = 'Error: The Geolocation service failed.';
	    } else {
	    	var content = 'Error: Your browser does not support geolocation.';
	    }
	}

	$('.hearts').on('mouseover', function() {
		var trickId = $(this).data('trick-id');
		var hearts = $(this).data('hearts');

		var allHearts = $('.hearts[data-trick-id=' + trickId + ']');
		
		for(var i = 0; i < hearts; i++) {
			//console.log($('.hearts[data-trick-id=' + trickId + ']')[i].src);
			allHearts[i].src = '/skateHeart.png';
			//allHearts[i].setAttribute('src', '<%= asset_url("skateHeartC.png") %>');
		}
	});

	$('.hearts').mouseout(function() {
		var trickId = $(this).data('trick-id');
		$('.hearts[data-trick-id=' + trickId + ']').attr('src', '/skateHeartBW.png');
	});

	$('.hearts').on('click', function() {
		var spotId = $(this).data('spot-id');
		var trickId = $(this).data('trick-id');
		var hearts = $(this).data('hearts');

		$(this).data('selected', 'yes');						

		var allHearts = $('.hearts[data-trick-id=' + trickId + ']');
		
		for(var i = 0; i < hearts; i++) {
			allHearts[i].setAttribute('src', '/skateHeart.png');
		}

		$('.hearts[data-trick-id=' + trickId + ']').unbind();

		var trickRating = {
			spot_id: spotId,
			trick_id: trickId,
			hearts: hearts
		};

		$.ajax({
			type: 'POST',
			url: '/spots/' + spotId + '/rate-trick',
			data: { trickRating },
			dataType: 'json',
			success: function() { console.log('OK'); },
			error: function() { console.log('KO'); }
		});
	});

	$('.find-nearest-spot').on('click', function() {
		var distance = 0;
		var nearestDistance = 1111111111111111111111111111111;
		var nearestSpot = 0;

		for(var i = 0; i < positions.length; i++) {
			distance = google.maps.geometry.spherical.computeDistanceBetween(new google.maps.LatLng(yourPosition.lat(), yourPosition.lng()), positions[i]);

			if(distance < nearestDistance ) {
				nearestDistance = distance;
				nearestSpot = i;
			}
		}

		var infoWindowNearestSpotContent = '<a href=/spots/' + nearestSpot + '>Go to this spot</a>';

    	var infoWindowNearestSpot = new google.maps.InfoWindow({
    		content: infoWindowNearestSpotContent
    	});

    	infoWindowNearestSpot.open(map, markers[nearestSpot - 1]);
	});
});