// Place all the behaviors and hooks related to the matching controller here.
// All this logic will automatically be available in application.js.

$(document).ready(function() {
	$.ajax({
		type: 'GET',
		dataType: 'json',
		url: '/spots',
		success: function(spotsResponse) { createMap(spotsResponse); },
		error: function() { console.log('KO') }
	});
	
	var map;
	var spots = [];
	var positions = [];
	var markers = [];
	var yourPosition = {};

	function createMap(spotsResponse) {
		var mapContainer = document.getElementById('map-container');
		
		for(var i = 0; i < spotsResponse.length; i++) {
			spots.push(spotsResponse[i]);				
		}

		var mapOptions = {
	    	zoom: 11,
	    	mapTypeId: google.maps.MapTypeId.ROAD
	  	};

	  	map = new google.maps.Map(mapContainer, mapOptions);

	  	if(navigator.geolocation) {
		    navigator.geolocation.getCurrentPosition(function(yourPositionResponse) {
		    	for(var i = 0; i < spots.length; i++) {
		    		var position = new google.maps.LatLng(spots[i].latitude, spots[i].longitude);
		    		positions.push(position);

		    		var marker = new google.maps.Marker({
		    			map: map,		    			
		    			position:position,
		    			icon: '/skateboard.png',
		    			title: (i + 1).toString()
		    		});

		    		markers.push(marker);		    		
		    		addClickEventForEachMarker(marker);
		    	}

		    	yourPosition = new google.maps.LatLng(yourPositionResponse.coords.latitude, yourPositionResponse.coords.longitude);
				
				var yourPositionMarker = new google.maps.Marker({
		    			map: map,
		    			position: yourPosition,
		    			draggable: true,
						icon: '/bartSkater.gif',
		    			title: 'You are here!'
		    	});

		    	google.maps.event.addDomListener(yourPositionMarker, 'dragend', function() {
		    		var latitude = yourPositionMarker.getPosition().lat();
		    		var longitude = yourPositionMarker.getPosition().lng();;

			    	var infoWindowYourPositionContent = '<a class="add-spot-button" href=/spots/new?latitude=' + latitude + '&longitude=' + longitude + '>Add spot here</a>';

			    	var infoWindowYourPosition = new google.maps.InfoWindow({
			    		content: infoWindowYourPositionContent
			    	});

		    		infoWindowYourPosition.open(map, yourPositionMarker);
		    	});

		    	function addClickEventForEachMarker(marker) {
		    		google.maps.event.addDomListener(marker, 'click', function() {
		    			var spotId = marker.getTitle();

						var infoWindowSpotsContent = '<a href=/spots/' + spotId + '>Go to this spot</a><br><a href=/challenges/new-challenge?spot=' + spotId + '>Add challenge</a>';

				    	var infoWindowSpots = new google.maps.InfoWindow({
				    		content: infoWindowSpotsContent
				    	});

				    	infoWindowSpots.open(map, marker);
					});
		    	}		    	
				
				map.setCenter(yourPosition);
		    }, function() {
		    	handleNoGeolocation(true);
		    });
	    } else {
	    	handleNoGeolocation(false);
	  	}
	}

	function handleNoGeolocation(errorFlag) {
		if(errorFlag) {
	    	var content = 'The Geolocation service failed.';
	    } else {
	    	var content = 'Your browser does not support geolocation.';
	    }
	}

	$('.hearts').on('mouseover', function() {
		var trickId = $(this).data('trick-id');
		var hearts = $(this).data('hearts');

		var allHearts = $('.hearts[data-trick-id=' + trickId + ']');
		
		for(var i = 0; i < hearts; i++) {
			allHearts[i].setAttribute('src', '/skateHeart.png');
		}
	});

	$('.hearts').mouseout(function() {
		var trickId = $(this).data('trick-id');
		$('.hearts[data-trick-id=' + trickId + ']').attr('src', '/skateHeartBW.png');
	});

	$('.hearts').on('click', function() {
		var spotId = $(this).data('spot-id');
		var trickId = $(this).data('trick-id');
		var hearts = $(this).data('hearts');

		$(this).data('selected', 'yes');						

		var allHearts = $('.hearts[data-trick-id=' + trickId + ']');
		
		for(var i = 0; i < hearts; i++) {
			allHearts[i].setAttribute('src', '/skateHeart.png');
		}

		$('.hearts[data-trick-id=' + trickId + ']').unbind();

		var trickRating = {
			trick_id: trickId,
			hearts: hearts
		};

		$.ajax({
			type: 'POST',
			url: '/spots/' + spotId + '/rate-trick',
			data: { trickRating },
			dataType: 'json',
			success: function(averageRating) { 
				$('body').append('<p>' + averageRating + '</p>');
			},
			error: function() { console.log('KO'); }
		});
	});

	$('.nearest-spot').on('click', function() {
		var distance = 0;
		var nearestDistance = 99999999999999999999;
		var nearestSpot = 0;

		for(var i = 0; i < positions.length; i++) {
			distance = google.maps.geometry.spherical.computeDistanceBetween(new google.maps.LatLng(yourPosition.lat(), yourPosition.lng()), new google.maps.LatLng(positions[i].lat(), positions[i].lng()));
			
			if(distance < nearestDistance) {
				nearestDistance = distance;
				nearestSpot = i;
			}
		}

		var infoWindowNearestSpotContent = '<a href=/spots/' + (nearestSpot + 1) + '>Go to this spot</a><br><a href=/challenges/new-challenge?spot=' + (nearestSpot + 1) + '>Add challenge</a>';

		var infoWindowNearestSpot = new google.maps.InfoWindow({
			content: infoWindowNearestSpotContent
		});

		infoWindowNearestSpot.open(map, markers[nearestSpot]);
	});

	$('.random-spot').on('click', function() {

		var randomSpot = Math.floor(Math.random() * (spots.length - 0)) + 0;

		var infoWindowRandomSpotContent = '<a href=/spots/' + (randomSpot + 1) + '>Go to this spot</a><br><a href=/challenges/new-challenge?spot=' + (randomSpot + 1) + '>Add challenge</a>';

		var infoWindowRandomSpot = new google.maps.InfoWindow({
			content: infoWindowRandomSpotContent
		});

		infoWindowRandomSpot.open(map, markers[randomSpot]);
	});
});