/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
    font-family: SkateFont;
    src: url('/SkateFont.ttf');
    font-weight: 400;
}

body {
	margin: 0;
	padding: 0;
	text-align: center;
	border-top: 4px solid #337ab7;
}

a, a:hover, a:focus, a:visited {
	text-decoration: none;
}

.logo {
	font-family: SkateFont;
	font-size: 40px;
	margin-top: 10px;
}

.account-actions {
	display: inline-block;
}
/*
.menu-elements {
	display: inline-block;
	border-radius: 3px;
	padding: 5px 20px;
	border: 3px solid #337ab7;
	background: #337ab7;
	color: white;
	font-weight: bold;
	cursor:pointer;
}*/

.navigation-elements {
	display: inline-block;
	border: 3px solid #337ab7;
	border-radius: 3px;
	padding: 5px 20px;
	color: #337ab7;
	font-weight: bold;
	cursor:pointer;
	background: white;
}

.navigation-elements:hover {
	border: 3px solid #337ab7;
	background: #337ab7;
	color: white;
	font-weight: bold;
}

#map-container {
	height: 400px;
	margin: 0 30px;
	border-radius: 3px;
}

.hearts {
	cursor: pointer;
}

.marker-spot-photo {
	width: 250px;
	height: 150px;
	border-radius: 3px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.challenge-challenge {
	text-align: center;
}

.input-correction {
	display: inline-block;
	max-width: 200px;
}

.span-correction {
	font-size: 100%;
}

.footer-correction {
	text-align: center;
}

.panel-correction {
	display: inline-block;
}

.spot-photo {
	max-width: 600px;
}

.challenges-nav {
	display: inline-block;
}

.hidden-elements {
	visibility: hidden;
}