<!DOCTYPE html>
<html>
	<head>
	  <title>SkateDojo</title>
	  <%= stylesheet_link_tag 'application', media: 'all' %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<%= yield %>
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
		<%= javascript_include_tag 'application' %>
	</body>
</html>